.container-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.container-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card {
    max-width: 400px;
}

p {
    display: flex;
    justify-content: center;
    flex-direction: row;
}