.container-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.mat-card {
    background-color: #111111
}

.container-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card {
    max-width: 400px;
    height: 585px;
}

.mat-card-header {
    color: white;
}

.mat-card-subtitle {
    color: white;
}

p {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.avatar {
  background-size: cover;
}

.mat-card-header .mat-card-title {
    font-size: 18px;
}