<div *ngIf="imageURL" class="container-col">
  <mat-card class="card">
    <mat-card-header>
      <img mat-card-avatar src={{artistURL}} alt="Artist Image">
      <mat-card-title>{{song}}</mat-card-title>
      <mat-card-subtitle>{{artistCombined}} | {{album}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="imageURL" [src]="imageURL || ''" alt="Album Cover Art">
    <mat-card-content>
        <mat-progress-bar class="album" mode="determinate" value={{playBackPercent}}></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
      <span class="container-row">
        <button mat-icon-button (click)="onPrevious()">
          <mat-icon color="primary" class="mat-18">skip_previous</mat-icon>
        </button>
        <span [ngSwitch]="paused">
          <span *ngSwitchCase="true">
            <button mat-icon-button (click)="togglePlayback()">
              <mat-icon color="primary" class="mat-18">play_arrow</mat-icon>
            </button>
          </span>
          <span *ngSwitchCase="false">
            <button mat-icon-button (click)="togglePlayback()">
              <mat-icon color="primary" class="mat-18">pause</mat-icon>
            </button>
          </span>
          <span *ngSwitchDefault>
            <button mat-icon-button (click)="togglePlayback()">
              <mat-icon color="primary" class="mat-18">play_arrow</mat-icon>
            </button>
          </span>
        </span>
        <button mat-icon-button (click)="onNext()">
          <mat-icon color="primary" class="mat-18">skip_next</mat-icon>
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>

