/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    background-color: #1e1e1e;
}

.mat-bottom-sheet-container {
  background-color:black;
  width: 260px;
}

