<div class="container-col">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Up Next</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span *ngFor="let song of songResultName">
        <span class="container-row">
          <button  mat-button>
            <span>
              <span class="searchName">
                {{song.song}}
              </span>
              <mat-divider></mat-divider>
              <span class="searchArtist">
                {{song.artist}}
              </span>
            </span>
          </button>
          <span class="spacer"></span>
          <span class="container-arrow">
              {{song.votes}}
          </span>
          <span class="container-arrow">
            <mat-icon color="primary" class="mat-18">arrow_upward</mat-icon>
            <mat-icon color="primary" class="mat-18">arrow_downward</mat-icon>
          </span>
        </span>
      </span>
    </mat-card-content>
  </mat-card>
</div>
