.container-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}

.container-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 18px;
    margin-left: 1rem;
}

.container-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.mat-card {
    background-color: #111111
}

.card {
    width: 400px;
    height: 585px;
    overflow-y: auto;
}

.mat-card-header {
    color: white;
}

.mat-card-subtitle {
    color: white;
}

p {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.searchArtist {
    width: 350px;
    align-content: flex-start;
    display: flex;
    overflow-x: hidden;
    font-size: 10px;
    color: #9a9a9a;
}

.searchName {
    color: white;
    width: 350px;
    align-content: flex-start;
    display: flex;
    overflow-x: hidden;
}

.spacer {
    flex: 1 1 auto;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #171717; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #171717; 
}